set ideajoin
set surround
set multiple-cursors
set commentary

nnoremap gn :action GotoNextError<CR>
nnoremap gp :action GotoPreviousError<CR>

nnoremap g, :action VcsShowNextChangeMarker<CR>
nnoremap g; :action VcsShowPrevChangeMarker<CR>

nnoremap gr :action RenameElement<CR>

nnoremap gz :action Vcs.RallbackChangedLines<CR>

nnoremap gh :action QuickJavaDoc<CR>

" Disable search highlights until the next search

nnoremap <C-n> :noh<CR>

" Make search incremental, highlight, and apply casing intelligently
set incsearch
set hlsearch
set ignorecase
set smartcase

