:imap jk <Esc>

" Enable vim plugins
set surround
set multiple-cursors
set commentary

" Copy into the system clipboard by default
set clipboard=unnamed

" Make searching incremental, igore case, and highlight
set incsearch
set ignorecase
set hlsearch

" Enable line numbers, make them relative to the current line
set number

set clipboard+=ideaputset ideajoinset clipboard+=ideaput
